# FYS4150 H20 Project 2

## B: Setting up the tridiagonal matrix

In [1]:
def make_tridiag(N, h):
    central_diagonal = np.ndarray(N)
    central_diagonal.fill(2/h**2)
    first_off_diagonals = np.ndarray(N-1)
    first_off_diagonals.fill(-1/h**2)
    
    A = np.diag(central_diagonal)
    A += np.diag(first_off_diagonals, k=-1)
    A += np.diag(first_off_diagonals, k=1)
    
    return A

In [2]:
def eigencompare(exact_vals, exact_vecs, numerical_vals, numerical_vecs):
    tol = 1E-5
    
    permutation = numerical_vals.argsort()
    numerical_vals = numerical_vals[permutation]
    numerical_vecs = numerical_vecs[permutation]

    for i in range(len(exact_vals)):
        e, n = exact_vals[i], numerical_vals[i]
        if not (e - tol < n < e + tol):
            return -1
    
    for i in range(len(exact_vals)):
        e, n = exact_vecs[:,i], numerical_vecs[:,i]
        if len(e) - tol < sum(e / n / (e[0] / n[0])) < len(e) + tol:
            return -2
    
    return 0

In [25]:
def eigen_vec_check(exact, numerical, numerical_vals):
    tol = 1E-5
    
    permutation = numerical_vals.argsort()
    numerical = numerical[permutation]

    for i in range(exact.shape[0]):
        e = exact[:,i]
        n = numerical[:,i]
        dotprod = e.T @ n
        absprod = np.linalg.norm(e) * np.linalg.norm(n)
        
        print(e)
        print(numerical[:,i])
        print(dotprod)
        print(absprod)
        if not (absprod - tol < dotprod < absprod + tol):
            return 1
    
    return 0

In [4]:
n = 3
N = n + 1
h = .1
A = make_tridiag(n, 1)
numerical_vals, numerical_vecs = np.linalg.eig(A)

In [5]:
exact_vecs = np.ndarray((n,n))
for j in range(1,N):
    exact_vecs[:,j-1] = [np.sin(k*j*np.pi/N)*7.07106781E-1 for k in range(1,N)]
exact_vals = np.array([A[0,0] + 2*A[0,1]*np.cos(j*np.pi/N) for j in range(1,N)])

In [6]:
eigencompare(exact_vals, exact_vecs, numerical_vals, numerical_vecs)

0

In [86]:
n = 5
k, l = 1,2
c = 4
s = 2
A = make_tridiag(n, 1)
S = np.identity(n)
S[k,k] = S[l,l] = c
S[k,l] = s
S[l,k] = -s

In [81]:
DataFrame(A*1.000001)

          0         1         2         3         4
0  2.000002 -1.000001  0.000000  0.000000  0.000000
1 -1.000001  2.000002 -1.000001  0.000000  0.000000
2  0.000000 -1.000001  2.000002 -1.000001  0.000000
3  0.000000  0.000000 -1.000001  2.000002 -1.000001
4  0.000000  0.000000  0.000000 -1.000001  2.000002

In [87]:
S

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  4.,  2.,  0.,  0.],
       [ 0., -2.,  4.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [88]:
DataFrame(S.T @ np.ones((n,n)))

     0    1    2    3    4
0  1.0  1.0  1.0  1.0  1.0
1  2.0  2.0  2.0  2.0  2.0
2  6.0  6.0  6.0  6.0  6.0
3  1.0  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0  1.0